In [70]:
# !jupyter nbextension enable --py --sys-prefix widgetsnbextension
# !pip install gmaps
# !jupyter nbextension enable --py --sys-prefix gmaps

In [71]:
# Displays figures in line
%matplotlib inline

# Import dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

import gmaps

import requests 
import json
plt.style.use('ggplot')

from pprint import pprint
from config import api_key

# Configure gmaps with API key
gmaps.configure(api_key=api_key)

In [72]:
url = "https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Public_Safety_WebMercator/MapServer/24/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [73]:
response = requests.get(url).json()

In [74]:
data = response['features']
crash_data = []

In [75]:
# Loop through 184 pages to get all crash data
# for t in range(184):
#     i = 0
#     for x in data:
#         crash_data.append(data[i]['attributes'])
#         i = i + 1

# Loop through 1 page to get reports on 1,000 crashes
i = 0
for x in data:
    crash_data.append(data[i]['attributes'])
    i = i + 1

In [76]:
master_df = pd.DataFrame(crash_data)
master_df.head()

,ADDRESS,BICYCLISTSIMPAIRED,CCN,CRIMEID,DRIVERSIMPAIRED,EVENTID,FATAL_BICYCLIST,FATAL_DRIVER,FATAL_PEDESTRIAN,FROMDATE,...,TOTAL_GOVERNMENT,TOTAL_PEDESTRIANS,TOTAL_TAXIS,TOTAL_VEHICLES,UNKNOWNINJURIES_BICYCLIST,UNKNOWNINJURIES_DRIVER,UNKNOWNINJURIES_PEDESTRIAN,WARD,XCOORD,YCOORD
0,500 NORTH CAPITOL ST,0,12093465,24081930,0,{970AA198-18F8-402F-A56D-2169A05F5F63},0,0,0,1341446400000,...,0,0,0,2,0,0,0,Ward 6,399158.260,136525.590
1,I295N/PENNSYLVANIA AVE SE,0,17030805,27227660,0,{BC40D7F1-86D0-41B3-A385-FE7A4EA4F3D3},0,0,0,1487808000000,...,0,0,0,2,0,0,0,Ward 8,402264.522,134169.796
2,1ST ST NW & GALLATIN ST NW\r\n,0,15149853,26703374,0,{A7507F2C-AAFA-4801-97A9-1872FB7E3234},0,0,0,1442793600000,...,0,0,0,2,0,0,0,Ward 4,399018.791,142710.174
3,UNIT BLOCK OF NEW YORK AVENUE NE. & 13OO BLOCK...,0,16054626,26907565,0,{2C3839DC-528C-43EC-9457-EFD5D09E906C},0,0,0,1460160000000,...,0,0,0,2,0,0,0,Ward 5,399226.621,137729.316
4,2819 M ST NW,0,15149895,26703376,0,{296E660B-2605-45DF-8126-CA227A15296A},0,0,0,1442880000000,...,0,0,0,2,0,0,0,Ward 2,394993.906,137476.100

In [77]:
# Create dataframes for each ward containing all DC crash data
ward1DF = master_df.loc[master_df["WARD"]== "Ward 1"]
ward2DF = master_df.loc[master_df["WARD"]== "Ward 2"]
ward3DF = master_df.loc[master_df["WARD"]== "Ward 3"]
ward4DF = master_df.loc[master_df["WARD"]== "Ward 4"]
ward5DF = master_df.loc[master_df["WARD"]== "Ward 5"]
ward6DF = master_df.loc[master_df["WARD"]== "Ward 6"]
ward7DF = master_df.loc[master_df["WARD"]== "Ward 7"]
ward8DF = master_df.loc[master_df["WARD"]== "Ward 8"]

# Count total number of accidents for each ward
ward1_totalCount = master_df.loc[master_df["WARD"]== "Ward 1"].count()["CRIMEID"]
ward2_totalCount = master_df.loc[master_df["WARD"]== "Ward 2"].count()["CRIMEID"]
ward3_totalCount = master_df.loc[master_df["WARD"]== "Ward 3"].count()["CRIMEID"]
ward4_totalCount = master_df.loc[master_df["WARD"]== "Ward 4"].count()["CRIMEID"]
ward5_totalCount = master_df.loc[master_df["WARD"]== "Ward 5"].count()["CRIMEID"]
ward6_totalCount = master_df.loc[master_df["WARD"]== "Ward 6"].count()["CRIMEID"]
ward7_totalCount = master_df.loc[master_df["WARD"]== "Ward 7"].count()["CRIMEID"]
ward8_totalCount = master_df.loc[master_df["WARD"]== "Ward 8"].count()["CRIMEID"]

# Identify count by type of accident for each ward
#ward1_typeCount = ward1DF.loc[ward1DF["TOTAL_BICYCLES"]] 

#print(ward1DF.head())

In [78]:
bike_df = master_df[["ADDRESS", "CRIMEID", "FATAL_BICYCLIST", "FROMDATE", "LATITUDE", "LONGITUDE", "MAJORINJURIES_BICYCLIST", "MINORINJURIES_BICYCLIST", "XCOORD", "YCOORD"]]
bike_df.head()

,ADDRESS,CRIMEID,FATAL_BICYCLIST,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_BICYCLIST,MINORINJURIES_BICYCLIST,XCOORD,YCOORD
0,500 NORTH CAPITOL ST,24081930,0,1341446400000,38.896577,-77.009479,0,0,399158.260,136525.590
1,I295N/PENNSYLVANIA AVE SE,27227660,0,1487808000000,38.875177,-76.973841,0,0,402264.522,134169.796
2,1ST ST NW & GALLATIN ST NW\r\n,26703374,0,1442793600000,38.952290,-77.011308,0,0,399018.791,142710.174
3,UNIT BLOCK OF NEW YORK AVENUE NE. & 13OO BLOCK...,26907565,0,1460160000000,38.907423,-77.008914,0,0,399226.621,137729.316
4,2819 M ST NW,26703376,0,1442880000000,38.905177,-77.057693,0,0,394993.906,137476.100

In [79]:
geoLoc = master_df[["LATITUDE","LONGITUDE"]].astype(float)
geoLoc.head()

    LATITUDE  LONGITUDE
0  38.896577 -77.009479
1  38.875177 -76.973841
2  38.952290 -77.011308
3  38.907423 -77.008914
4  38.905177 -77.057693

In [80]:
weights = master_df["MINORINJURIES_BICYCLIST"]
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(geoLoc, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))

In [81]:
figure_layout = {
    'width': '400px',
    'height': '300px',
    'border': '1px solid black',
    'padding': '1px',
    'margin': '0 auto 0 auto'
}
fig = gmaps.figure(layout=figure_layout)


# Assign the marker layer to a variable
markers = gmaps.marker_layer(geoLoc)

# Add the layer to the map
fig.add_layer(markers)
fig

Figure(layout=FigureLayout(border='1px solid black', height='300px', margin='0 auto 0 auto', padding='1px', width='400px'))

In [82]:
fig = gmaps.figure(map_type="SATELLITE")
heatmap_layer = gmaps.heatmap_layer(geoLoc)
fig.add_layer(heatmap_layer)
fig

Figure(layout=FigureLayout(height='420px'))