In [1]:
!pip install python-dateutil
# Displays figures in line
%matplotlib inline

# Import dependencies 
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import requests 
import json
import locale
import datetime
plt.style.use('ggplot')

from datetime import datetime
from pprint import pprint
from dateutil.parser import parse

Requirement already satisfied: python-dateutil in c:\users\jpaz5\anaconda3\lib\site-packages (2.7.3)
Requirement already satisfied: six>=1.5 in c:\users\jpaz5\anaconda3\lib\site-packages (from python-dateutil) (1.11.0)

distributed 1.21.8 requires msgpack, which is not installed.

In [2]:
url = "https://maps2.dcgis.dc.gov/dcgis/rest/services/DCGIS_DATA/Public_Safety_WebMercator/MapServer/24/query?where=1%3D1&outFields=*&outSR=4326&f=json"

In [3]:
response = requests.get(url).json()

In [4]:
data = response['features']
crash_data = []

In [5]:
for t in range(185):
    i = 0
    for x in data:
        crash_data.append(data[i]['attributes'])
        i = i + 1

In [6]:
master_df = pd.DataFrame(crash_data)
master_df.head()

,ADDRESS,BICYCLISTSIMPAIRED,CCN,CRIMEID,DRIVERSIMPAIRED,EVENTID,FATAL_BICYCLIST,FATAL_DRIVER,FATAL_PEDESTRIAN,FROMDATE,...,TOTAL_GOVERNMENT,TOTAL_PEDESTRIANS,TOTAL_TAXIS,TOTAL_VEHICLES,UNKNOWNINJURIES_BICYCLIST,UNKNOWNINJURIES_DRIVER,UNKNOWNINJURIES_PEDESTRIAN,WARD,XCOORD,YCOORD
0,110 IRVING STREET NW,0,14058198,25153246,0,{E809D7D3-017B-4CD2-B976-F74D0F579F56},0,0,0,1398470400000,...,0,0,0,1,0,0,0,Ward 5,398679.411,140224.947
1,800 CONSTITUTION AVE NW,0,12099906,24104674,0,{AE1E4C9D-3125-4118-A7FE-91AA63F8B0F6},0,0,0,1342483200000,...,0,0,0,2,0,0,0,Ward 6,400470.892,136018.501
2,900 BLOCK OF 7TH STREET NW,0,11179091,26649213,0,{D40F4527-2130-40FD-8767-5A1C02C73465},0,0,0,1323216000000,...,0,0,0,2,0,0,0,Ward 2,398098.921,137162.090
3,8TH ST NW and NEW HAMPSHIRE AVE NW,0,14057254,25153265,0,{E056E3ED-1322-4743-9228-F40AD49C7545},0,0,0,1398384000000,...,0,0,0,2,0,0,0,Ward 4,397999.385,141120.533
4,3700 MARTIN LUTHER KING JR AVENUE SE,0,12100393,24104690,0,{9339CFCC-7422-4E85-96D4-FB566164D4C7},0,0,0,1342569600000,...,1,0,0,2,0,0,0,Ward 8,399488.473,129972.463

In [7]:
#Create bike only dataframe
bike_df = master_df[["ADDRESS", "CRIMEID", "FATAL_BICYCLIST", "FROMDATE", "LATITUDE", "LONGITUDE", "MAJORINJURIES_BICYCLIST", "MINORINJURIES_BICYCLIST", "XCOORD", "YCOORD"]]
bike_df_reduced = bike_df.loc[(bike_df["MAJORINJURIES_BICYCLIST"] >= 1) | (bike_df["MINORINJURIES_BICYCLIST"]>= 1) | (bike_df["FATAL_BICYCLIST"]>= 1), :]
bike_df["MAJORINJURIES_BICYCLIST"].sum()

185

In [8]:
#Create vehicle only dataframe
vehicle_df = master_df[["ADDRESS", "CRIMEID", "FATAL_DRIVER", "FROMDATE", "LATITUDE", "LONGITUDE", "MAJORINJURIES_DRIVER", "MINORINJURIES_DRIVER", "XCOORD", "YCOORD"]]
vehicle_df_reduced = vehicle_df.loc[(vehicle_df["MAJORINJURIES_DRIVER"] >= 1) | (vehicle_df["MINORINJURIES_DRIVER"]>= 1) | (vehicle_df["FATAL_DRIVER"]>= 1), :]
vehicle_df.head()

,ADDRESS,CRIMEID,FATAL_DRIVER,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_DRIVER,MINORINJURIES_DRIVER,XCOORD,YCOORD
0,110 IRVING STREET NW,25153246,0,1398470400000,38.929652,-77.015648,0,0,398679.411,140224.947
1,800 CONSTITUTION AVE NW,24104674,0,1342483200000,38.892223,-76.994573,0,1,400470.892,136018.501
2,900 BLOCK OF 7TH STREET NW,26649213,0,1323216000000,38.902312,-77.021917,0,1,398098.921,137162.090
3,8TH ST NW and NEW HAMPSHIRE AVE NW,25153265,0,1398384000000,38.937970,-77.023076,0,0,397999.385,141120.533
4,3700 MARTIN LUTHER KING JR AVENUE SE,24104690,0,1342569600000,38.837547,-77.006113,0,1,399488.473,129972.463

In [9]:
#Create pedestrian only dataframe
pedest_df = master_df[["ADDRESS", "CRIMEID", "FATAL_PEDESTRIAN", "FROMDATE", "LATITUDE", "LONGITUDE", "MAJORINJURIES_PEDESTRIAN", "MINORINJURIES_PEDESTRIAN", "XCOORD", "YCOORD"]]

pedest_df_reduced = pedest_df.loc[(pedest_df["MAJORINJURIES_PEDESTRIAN"] >= 1) | (pedest_df["MINORINJURIES_PEDESTRIAN"] >= 1) | (pedest_df["FATAL_PEDESTRIAN"] >= 1),:]
pedest_df.head()

,ADDRESS,CRIMEID,FATAL_PEDESTRIAN,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_PEDESTRIAN,MINORINJURIES_PEDESTRIAN,XCOORD,YCOORD
0,110 IRVING STREET NW,25153246,0,1398470400000,38.929652,-77.015648,0,0,398679.411,140224.947
1,800 CONSTITUTION AVE NW,24104674,0,1342483200000,38.892223,-76.994573,0,0,400470.892,136018.501
2,900 BLOCK OF 7TH STREET NW,26649213,0,1323216000000,38.902312,-77.021917,0,0,398098.921,137162.090
3,8TH ST NW and NEW HAMPSHIRE AVE NW,25153265,0,1398384000000,38.937970,-77.023076,0,0,397999.385,141120.533
4,3700 MARTIN LUTHER KING JR AVENUE SE,24104690,0,1342569600000,38.837547,-77.006113,0,0,399488.473,129972.463

In [10]:
pedest_df.dtypes

ADDRESS                      object
CRIMEID                       int64
FATAL_PEDESTRIAN              int64
FROMDATE                      int64
LATITUDE                    float64
LONGITUDE                   float64
MAJORINJURIES_PEDESTRIAN      int64
MINORINJURIES_PEDESTRIAN      int64
XCOORD                      float64
YCOORD                      float64
dtype: object

In [19]:
#Convert 'FROMDATE' column into date format
bike_df["FROMDATE"]=pd.to_datetime(bike_df['FROMDATE'],unit='ms')

vehicle_df["FROMDATE"]=pd.to_datetime(vehicle_df["FROMDATE"],unit='ms')

pedest_df["FROMDATE"]=pd.to_datetime(pedest_df['FROMDATE'],unit='ms')
bike_df

C:\Users\jpaz5\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\jpaz5\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
C:\Users\jpaz5\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,ADDRESS,CRIMEID,FATAL_BICYCLIST,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_BICYCLIST,MINORINJURIES_BICYCLIST,XCOORD,YCOORD
0,110 IRVING STREET NW,25153246,0,2014-04-26,38.929652,-77.015648,0,0,398679.411,140224.947
1,800 CONSTITUTION AVE NW,24104674,0,2012-07-17,38.892223,-76.994573,0,0,400470.892,136018.501
2,900 BLOCK OF 7TH STREET NW,26649213,0,2011-12-07,38.902312,-77.021917,0,0,398098.921,137162.090
3,8TH ST NW and NEW HAMPSHIRE AVE NW,25153265,0,2014-04-25,38.937970,-77.023076,0,0,397999.385,141120.533
4,3700 MARTIN LUTHER KING JR AVENUE SE,24104690,0,2012-07-18,38.837547,-77.006113,0,0,399488.473,129972.463
5,900 17TH STREET NW,25153273,0,2014-04-25,38.901722,-77.038246,0,0,396658.906,137097.195
6,100 M ST NE,25153356,0,2014-04-26,38.876482,-77.005340,0,0,399536.610,134294.559
7,1500 P STREET NW,27250431,0,2017-03-17,38.922514,-77.051879,0,0,395503.072,139408.577
8,1400 16TH STREET NW,27250434,0,2017-03-17,38.908638,-77.036378,0,0,396844.847,137871.914
9,2012 8TH ST NW,24104709,0,2012-07-18,38.917266,-77.023118,0,0,398010.092,138822.162
10,4801 BENNING ROAD SE,27250440,0,2017-03-17,38.882632,-76.933211,0,0,405803.400,134964.399
11,1900 M STREET NW,24104714,0,2012-07-17,38.905361,-77.043869,0,0,396194.781,137486.859
12,I395 SB & EX2\r\n,27250443,0,2017-03-17,38.879268,-77.035857,0,0,396889.384,134603.598
13,1100 K STREET NE,25153292,0,2014-04-25,38.902771,-76.991347,0,0,400735.112,137212.985
14,NORTH CAPITOL ST & NEW HAMPSHIRE AVE NE,24104717,0,2012-07-18,38.956917,-77.009047,0,0,399215.884,143223.534
15,1709 6TH STREET NW,27250446,0,2017-03-18,38.913370,-77.019885,0,0,398274.066,138389.635
16,3300 SHERMAN AVENUE NW,27250450,0,2017-03-18,38.931527,-77.026936,0,0,397641.543,140413.166
17,33RD PLACE NE & SOUTH DAKOTA AVENUE NE\r\n,27250453,0,2017-03-18,38.920060,-76.957567,0,0,403679.777,139132.935
18,527 14TH STREET NW,24104727,0,2012-07-18,38.896525,-77.031695,0,0,397226.878,136520.044
19,2400 ALABAMA AVENUE SE,25153304,0,2014-04-25,38.851586,-76.971925,0,0,402446.436,131513.110
20,N ST NE and FLORIDA AVE NE,25153306,0,2014-04-25,38.907280,-77.000793,0,0,399931.190,137713.420
21,1301 15TH STREET NW,27250460,0,2017-03-18,38.907383,-77.034422,0,0,397001.967,137725.442
22,6TH ST SE and A ST SE,24104734,0,2012-07-18,38.888678,-76.998452,0,0,400134.300,135648.440
23,7TH ST NW and MASSACHUSETTS AVE NW,24104735,0,2012-07-17,38.902102,-77.021915,0,0,398099.063,137138.797
24,4800 ARKANSAS AVENUE NW,25153313,0,2014-04-25,38.948460,-77.030216,0,0,397394.692,142270.385
25,5111 AYERS PL SE,25153314,0,2014-04-25,38.888328,-76.927188,0,0,406317.040,135612.108
26,23RD ST NW and G ST NW,25153316,0,2014-04-26,38.898327,-77.050135,0,0,395651.004,136720.750
27,1999 K STREET NW,27173510,0,2017-01-01,38.902580,-77.044627,0,0,396129.020,137186.607
28,21ST NW & P ST NW\r\n,27250473,0,2017-03-18,38.909595,-77.046416,0,0,395974.232,137976.419
29,4100 SOUTHERN AVENUE SE,27250484,0,2017-03-18,38.865740,-76.944541,0,0,404793.320,133103.585
...,...,...,...,...,...,...,...,...,...,...
184970,3600 EASTERN AVE,27563502,0,2018-01-23,38.934081,-76.962014,0,0,403293.503,140689.231
184971,3700 NORTH CAPITOL ST,24587162,0,2013-05-08,38.936555,-77.006954,0,0,399397.107,140963.167
184972,115 NEW YORK AVENUE NW,27337627,0,2017-06-12,38.906037,-77.012830,0,0,398887.180,137575.473
184973,3600 13TH STREET NE,27640734,0,2018-04-09,38.933871,-76.988781,0,0,400972.678,140665.333
184974,1555 L STREET NW,27564965,0,2018-01-24,38.903740,-77.036407,0,0,396871.270,137321.073
184975,4731 1ST STREET SW,27736998,0,2018-07-14,38.822486,-77.005449,0,0,399526.807,128300.712
184976,38TH STREET AND V STREET SE,26610599,0,2011-01-26,38.864292,-76.952218,0,0,404146.850,132942.520
184977,7TH STREET SW & INDEPENDENCE AVENUE SW,27634600,0,2018-04-03,38.887563,-77.021916,0,0,398098.618,135524.910
184978,4700 SOUTH CAPITOL STREET SE,27646889,0,2018-04-15,38.821889,-77.000764,0,0,399933.144,128238.315
184979,5218 EAST CAPITOL STREET NE,27737002,0,2018-07-14,38.889762,-76.926428,0,0,406382.831,135771.386
184980,3202 MINNESOTA AVENUE SE,27737007,0,2018-07-14,38.878771,-76.960973,0,0,403386.370,134549.408
184981,2700 MARTIN LUTHER KING JR AVENUE SE,27737587,0,2018-07-04,38.850497,-76.994206,0,0,400502.938,131410.078
184982,3236 MINNESOTA AVENUE SE,27737013,0,2018-07-14,38.879751,-76.960272,0,0,403447.138,134658.254
184983,5107 NORTH CAPITOL STREET NE,27642806,0,2018-04-11,38.952686,-77.009031,0,0,399243.190,142766.841
184984,1500 ALABAMA AVENUE SE,27679678,0,2018-05-18,38.846336,-76.982255,0,0,401540.449,130948.346
184985,900 H STREET NW,27632576,0,2018-04-01,38.899813,-77.024846,0,0,397844.735,136884.830
184986,5800 16TH STREET NW,27715972,0,2018-06-23,38.960164,-77.036781,0,0,396812.190,143584.581
184987,5358 EAST CAPITOL STREET NE,27715649,0,2018-06-23,38.890316,-76.923379,0,0,406647.288,135833.015
184988,2221 MINNESOTA AVENUE SE,27711670,0,2018-06-19,38.871849,-76.973976,0,0,402258.286,133780.559
184989,400 NEW YORK AVENUE NW,27713629,0,2018-06-21,38.904476,-77.016178,0,0,398596.708,137402.227
184990,3108 SHERMAN AVENUE NW,27713564,0,2018-06-21,38.929032,-77.026559,0,0,397697.120,140128.420
184991,2200 BLADENSBURG ROAD NE,27713988,0,2018-06-21,38.919653,-76.971015,0,0,402513.615,139087.318
184992,603 8TH STREET NE,27710701,0,2018-06-18,38.897631,-76.994564,0,0,400471.594,136642.313
184993,395 SOUTH BOUND,27704561,0,2018-06-12,38.903922,-77.015644,0,0,398643.024,137340.810
184994,400 H STREET NE,27710713,0,2018-06-18,38.900460,-77.000569,0,0,399950.607,136956.277
184995,74 RHODE ISLAND AVENUE NE,27711736,0,2018-06-19,38.918108,-77.006380,0,0,399446.707,138915.436
184996,3739 MINNESOTA AVENUE NE,27711611,0,2018-06-10,38.890962,-76.951730,0,0,404187.677,135903.037
184997,"4321 POLK ,APT#",27713696,0,2018-06-21,38.909617,-76.941266,0,0,405094.116,137974.420
184998,1250 24TH STREET NW,27711728,0,2018-06-19,38.906172,-77.051844,0,0,395503.251,137591.662
184999,5404 COLORADO AVENUE NW,27710897,0,2018-06-18,38.955414,-77.033961,0,0,397056.397,143057.246

In [20]:
#List only the years for bike data in the last column

bike_df["YEAR"]=pd.DatetimeIndex(bike_df["FROMDATE"]).year
bike_df

C:\Users\jpaz5\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ADDRESS,CRIMEID,FATAL_BICYCLIST,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_BICYCLIST,MINORINJURIES_BICYCLIST,XCOORD,YCOORD,YEAR
0,110 IRVING STREET NW,25153246,0,2014-04-26,38.929652,-77.015648,0,0,398679.411,140224.947,2014
1,800 CONSTITUTION AVE NW,24104674,0,2012-07-17,38.892223,-76.994573,0,0,400470.892,136018.501,2012
2,900 BLOCK OF 7TH STREET NW,26649213,0,2011-12-07,38.902312,-77.021917,0,0,398098.921,137162.090,2011
3,8TH ST NW and NEW HAMPSHIRE AVE NW,25153265,0,2014-04-25,38.937970,-77.023076,0,0,397999.385,141120.533,2014
4,3700 MARTIN LUTHER KING JR AVENUE SE,24104690,0,2012-07-18,38.837547,-77.006113,0,0,399488.473,129972.463,2012
5,900 17TH STREET NW,25153273,0,2014-04-25,38.901722,-77.038246,0,0,396658.906,137097.195,2014
6,100 M ST NE,25153356,0,2014-04-26,38.876482,-77.005340,0,0,399536.610,134294.559,2014
7,1500 P STREET NW,27250431,0,2017-03-17,38.922514,-77.051879,0,0,395503.072,139408.577,2017
8,1400 16TH STREET NW,27250434,0,2017-03-17,38.908638,-77.036378,0,0,396844.847,137871.914,2017
9,2012 8TH ST NW,24104709,0,2012-07-18,38.917266,-77.023118,0,0,398010.092,138822.162,2012
10,4801 BENNING ROAD SE,27250440,0,2017-03-17,38.882632,-76.933211,0,0,405803.400,134964.399,2017
11,1900 M STREET NW,24104714,0,2012-07-17,38.905361,-77.043869,0,0,396194.781,137486.859,2012
12,I395 SB & EX2\r\n,27250443,0,2017-03-17,38.879268,-77.035857,0,0,396889.384,134603.598,2017
13,1100 K STREET NE,25153292,0,2014-04-25,38.902771,-76.991347,0,0,400735.112,137212.985,2014
14,NORTH CAPITOL ST & NEW HAMPSHIRE AVE NE,24104717,0,2012-07-18,38.956917,-77.009047,0,0,399215.884,143223.534,2012
15,1709 6TH STREET NW,27250446,0,2017-03-18,38.913370,-77.019885,0,0,398274.066,138389.635,2017
16,3300 SHERMAN AVENUE NW,27250450,0,2017-03-18,38.931527,-77.026936,0,0,397641.543,140413.166,2017
17,33RD PLACE NE & SOUTH DAKOTA AVENUE NE\r\n,27250453,0,2017-03-18,38.920060,-76.957567,0,0,403679.777,139132.935,2017
18,527 14TH STREET NW,24104727,0,2012-07-18,38.896525,-77.031695,0,0,397226.878,136520.044,2012
19,2400 ALABAMA AVENUE SE,25153304,0,2014-04-25,38.851586,-76.971925,0,0,402446.436,131513.110,2014
20,N ST NE and FLORIDA AVE NE,25153306,0,2014-04-25,38.907280,-77.000793,0,0,399931.190,137713.420,2014
21,1301 15TH STREET NW,27250460,0,2017-03-18,38.907383,-77.034422,0,0,397001.967,137725.442,2017
22,6TH ST SE and A ST SE,24104734,0,2012-07-18,38.888678,-76.998452,0,0,400134.300,135648.440,2012
23,7TH ST NW and MASSACHUSETTS AVE NW,24104735,0,2012-07-17,38.902102,-77.021915,0,0,398099.063,137138.797,2012
24,4800 ARKANSAS AVENUE NW,25153313,0,2014-04-25,38.948460,-77.030216,0,0,397394.692,142270.385,2014
25,5111 AYERS PL SE,25153314,0,2014-04-25,38.888328,-76.927188,0,0,406317.040,135612.108,2014
26,23RD ST NW and G ST NW,25153316,0,2014-04-26,38.898327,-77.050135,0,0,395651.004,136720.750,2014
27,1999 K STREET NW,27173510,0,2017-01-01,38.902580,-77.044627,0,0,396129.020,137186.607,2017
28,21ST NW & P ST NW\r\n,27250473,0,2017-03-18,38.909595,-77.046416,0,0,395974.232,137976.419,2017
29,4100 SOUTHERN AVENUE SE,27250484,0,2017-03-18,38.865740,-76.944541,0,0,404793.320,133103.585,2017
...,...,...,...,...,...,...,...,...,...,...,...
184970,3600 EASTERN AVE,27563502,0,2018-01-23,38.934081,-76.962014,0,0,403293.503,140689.231,2018
184971,3700 NORTH CAPITOL ST,24587162,0,2013-05-08,38.936555,-77.006954,0,0,399397.107,140963.167,2013
184972,115 NEW YORK AVENUE NW,27337627,0,2017-06-12,38.906037,-77.012830,0,0,398887.180,137575.473,2017
184973,3600 13TH STREET NE,27640734,0,2018-04-09,38.933871,-76.988781,0,0,400972.678,140665.333,2018
184974,1555 L STREET NW,27564965,0,2018-01-24,38.903740,-77.036407,0,0,396871.270,137321.073,2018
184975,4731 1ST STREET SW,27736998,0,2018-07-14,38.822486,-77.005449,0,0,399526.807,128300.712,2018
184976,38TH STREET AND V STREET SE,26610599,0,2011-01-26,38.864292,-76.952218,0,0,404146.850,132942.520,2011
184977,7TH STREET SW & INDEPENDENCE AVENUE SW,27634600,0,2018-04-03,38.887563,-77.021916,0,0,398098.618,135524.910,2018
184978,4700 SOUTH CAPITOL STREET SE,27646889,0,2018-04-15,38.821889,-77.000764,0,0,399933.144,128238.315,2018
184979,5218 EAST CAPITOL STREET NE,27737002,0,2018-07-14,38.889762,-76.926428,0,0,406382.831,135771.386,2018
184980,3202 MINNESOTA AVENUE SE,27737007,0,2018-07-14,38.878771,-76.960973,0,0,403386.370,134549.408,2018
184981,2700 MARTIN LUTHER KING JR AVENUE SE,27737587,0,2018-07-04,38.850497,-76.994206,0,0,400502.938,131410.078,2018
184982,3236 MINNESOTA AVENUE SE,27737013,0,2018-07-14,38.879751,-76.960272,0,0,403447.138,134658.254,2018
184983,5107 NORTH CAPITOL STREET NE,27642806,0,2018-04-11,38.952686,-77.009031,0,0,399243.190,142766.841,2018
184984,1500 ALABAMA AVENUE SE,27679678,0,2018-05-18,38.846336,-76.982255,0,0,401540.449,130948.346,2018
184985,900 H STREET NW,27632576,0,2018-04-01,38.899813,-77.024846,0,0,397844.735,136884.830,2018
184986,5800 16TH STREET NW,27715972,0,2018-06-23,38.960164,-77.036781,0,0,396812.190,143584.581,2018
184987,5358 EAST CAPITOL STREET NE,27715649,0,2018-06-23,38.890316,-76.923379,0,0,406647.288,135833.015,2018
184988,2221 MINNESOTA AVENUE SE,27711670,0,2018-06-19,38.871849,-76.973976,0,0,402258.286,133780.559,2018
184989,400 NEW YORK AVENUE NW,27713629,0,2018-06-21,38.904476,-77.016178,0,0,398596.708,137402.227,2018
184990,3108 SHERMAN AVENUE NW,27713564,0,2018-06-21,38.929032,-77.026559,0,0,397697.120,140128.420,2018
184991,2200 BLADENSBURG ROAD NE,27713988,0,2018-06-21,38.919653,-76.971015,0,0,402513.615,139087.318,2018
184992,603 8TH STREET NE,27710701,0,2018-06-18,38.897631,-76.994564,0,0,400471.594,136642.313,2018
184993,395 SOUTH BOUND,27704561,0,2018-06-12,38.903922,-77.015644,0,0,398643.024,137340.810,2018
184994,400 H STREET NE,27710713,0,2018-06-18,38.900460,-77.000569,0,0,399950.607,136956.277,2018
184995,74 RHODE ISLAND AVENUE NE,27711736,0,2018-06-19,38.918108,-77.006380,0,0,399446.707,138915.436,2018
184996,3739 MINNESOTA AVENUE NE,27711611,0,2018-06-10,38.890962,-76.951730,0,0,404187.677,135903.037,2018
184997,"4321 POLK ,APT#",27713696,0,2018-06-21,38.909617,-76.941266,0,0,405094.116,137974.420,2018
184998,1250 24TH STREET NW,27711728,0,2018-06-19,38.906172,-77.051844,0,0,395503.251,137591.662,2018
184999,5404 COLORADO AVENUE NW,27710897,0,2018-06-18,38.955414,-77.033961,0,0,397056.397,143057.246,2018

In [21]:
#List only the years for vehicle data in the last column

vehicle_df["YEAR"]=pd.DatetimeIndex(vehicle_df["FROMDATE"]).year
vehicle_df.head()

C:\Users\jpaz5\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ADDRESS,CRIMEID,FATAL_DRIVER,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_DRIVER,MINORINJURIES_DRIVER,XCOORD,YCOORD,YEAR
0,110 IRVING STREET NW,25153246,0,2014-04-26,38.929652,-77.015648,0,0,398679.411,140224.947,2014
1,800 CONSTITUTION AVE NW,24104674,0,2012-07-17,38.892223,-76.994573,0,1,400470.892,136018.501,2012
2,900 BLOCK OF 7TH STREET NW,26649213,0,2011-12-07,38.902312,-77.021917,0,1,398098.921,137162.090,2011
3,8TH ST NW and NEW HAMPSHIRE AVE NW,25153265,0,2014-04-25,38.937970,-77.023076,0,0,397999.385,141120.533,2014
4,3700 MARTIN LUTHER KING JR AVENUE SE,24104690,0,2012-07-18,38.837547,-77.006113,0,1,399488.473,129972.463,2012

In [22]:
#List only the years for pedestrian data in the last column

pedest_df["YEAR"]=pd.DatetimeIndex(pedest_df["FROMDATE"]).year
pedest_df

C:\Users\jpaz5\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,ADDRESS,CRIMEID,FATAL_PEDESTRIAN,FROMDATE,LATITUDE,LONGITUDE,MAJORINJURIES_PEDESTRIAN,MINORINJURIES_PEDESTRIAN,XCOORD,YCOORD,YEAR
0,110 IRVING STREET NW,25153246,0,2014-04-26,38.929652,-77.015648,0,0,398679.411,140224.947,2014
1,800 CONSTITUTION AVE NW,24104674,0,2012-07-17,38.892223,-76.994573,0,0,400470.892,136018.501,2012
2,900 BLOCK OF 7TH STREET NW,26649213,0,2011-12-07,38.902312,-77.021917,0,0,398098.921,137162.090,2011
3,8TH ST NW and NEW HAMPSHIRE AVE NW,25153265,0,2014-04-25,38.937970,-77.023076,0,0,397999.385,141120.533,2014
4,3700 MARTIN LUTHER KING JR AVENUE SE,24104690,0,2012-07-18,38.837547,-77.006113,0,0,399488.473,129972.463,2012
5,900 17TH STREET NW,25153273,0,2014-04-25,38.901722,-77.038246,0,0,396658.906,137097.195,2014
6,100 M ST NE,25153356,0,2014-04-26,38.876482,-77.005340,0,0,399536.610,134294.559,2014
7,1500 P STREET NW,27250431,0,2017-03-17,38.922514,-77.051879,0,0,395503.072,139408.577,2017
8,1400 16TH STREET NW,27250434,0,2017-03-17,38.908638,-77.036378,0,0,396844.847,137871.914,2017
9,2012 8TH ST NW,24104709,0,2012-07-18,38.917266,-77.023118,0,0,398010.092,138822.162,2012
10,4801 BENNING ROAD SE,27250440,0,2017-03-17,38.882632,-76.933211,0,0,405803.400,134964.399,2017
11,1900 M STREET NW,24104714,0,2012-07-17,38.905361,-77.043869,0,0,396194.781,137486.859,2012
12,I395 SB & EX2\r\n,27250443,0,2017-03-17,38.879268,-77.035857,0,0,396889.384,134603.598,2017
13,1100 K STREET NE,25153292,0,2014-04-25,38.902771,-76.991347,0,0,400735.112,137212.985,2014
14,NORTH CAPITOL ST & NEW HAMPSHIRE AVE NE,24104717,0,2012-07-18,38.956917,-77.009047,0,0,399215.884,143223.534,2012
15,1709 6TH STREET NW,27250446,0,2017-03-18,38.913370,-77.019885,0,0,398274.066,138389.635,2017
16,3300 SHERMAN AVENUE NW,27250450,0,2017-03-18,38.931527,-77.026936,0,0,397641.543,140413.166,2017
17,33RD PLACE NE & SOUTH DAKOTA AVENUE NE\r\n,27250453,0,2017-03-18,38.920060,-76.957567,0,0,403679.777,139132.935,2017
18,527 14TH STREET NW,24104727,0,2012-07-18,38.896525,-77.031695,0,0,397226.878,136520.044,2012
19,2400 ALABAMA AVENUE SE,25153304,0,2014-04-25,38.851586,-76.971925,0,0,402446.436,131513.110,2014
20,N ST NE and FLORIDA AVE NE,25153306,0,2014-04-25,38.907280,-77.000793,0,0,399931.190,137713.420,2014
21,1301 15TH STREET NW,27250460,0,2017-03-18,38.907383,-77.034422,0,0,397001.967,137725.442,2017
22,6TH ST SE and A ST SE,24104734,0,2012-07-18,38.888678,-76.998452,0,0,400134.300,135648.440,2012
23,7TH ST NW and MASSACHUSETTS AVE NW,24104735,0,2012-07-17,38.902102,-77.021915,0,0,398099.063,137138.797,2012
24,4800 ARKANSAS AVENUE NW,25153313,0,2014-04-25,38.948460,-77.030216,0,0,397394.692,142270.385,2014
25,5111 AYERS PL SE,25153314,0,2014-04-25,38.888328,-76.927188,0,0,406317.040,135612.108,2014
26,23RD ST NW and G ST NW,25153316,0,2014-04-26,38.898327,-77.050135,0,0,395651.004,136720.750,2014
27,1999 K STREET NW,27173510,0,2017-01-01,38.902580,-77.044627,0,0,396129.020,137186.607,2017
28,21ST NW & P ST NW\r\n,27250473,0,2017-03-18,38.909595,-77.046416,0,0,395974.232,137976.419,2017
29,4100 SOUTHERN AVENUE SE,27250484,0,2017-03-18,38.865740,-76.944541,0,0,404793.320,133103.585,2017
...,...,...,...,...,...,...,...,...,...,...,...
184970,3600 EASTERN AVE,27563502,0,2018-01-23,38.934081,-76.962014,0,0,403293.503,140689.231,2018
184971,3700 NORTH CAPITOL ST,24587162,0,2013-05-08,38.936555,-77.006954,0,0,399397.107,140963.167,2013
184972,115 NEW YORK AVENUE NW,27337627,0,2017-06-12,38.906037,-77.012830,0,0,398887.180,137575.473,2017
184973,3600 13TH STREET NE,27640734,0,2018-04-09,38.933871,-76.988781,0,0,400972.678,140665.333,2018
184974,1555 L STREET NW,27564965,0,2018-01-24,38.903740,-77.036407,0,0,396871.270,137321.073,2018
184975,4731 1ST STREET SW,27736998,0,2018-07-14,38.822486,-77.005449,0,0,399526.807,128300.712,2018
184976,38TH STREET AND V STREET SE,26610599,0,2011-01-26,38.864292,-76.952218,0,0,404146.850,132942.520,2011
184977,7TH STREET SW & INDEPENDENCE AVENUE SW,27634600,0,2018-04-03,38.887563,-77.021916,0,0,398098.618,135524.910,2018
184978,4700 SOUTH CAPITOL STREET SE,27646889,0,2018-04-15,38.821889,-77.000764,0,0,399933.144,128238.315,2018
184979,5218 EAST CAPITOL STREET NE,27737002,0,2018-07-14,38.889762,-76.926428,0,0,406382.831,135771.386,2018
184980,3202 MINNESOTA AVENUE SE,27737007,0,2018-07-14,38.878771,-76.960973,0,0,403386.370,134549.408,2018
184981,2700 MARTIN LUTHER KING JR AVENUE SE,27737587,0,2018-07-04,38.850497,-76.994206,0,0,400502.938,131410.078,2018
184982,3236 MINNESOTA AVENUE SE,27737013,0,2018-07-14,38.879751,-76.960272,0,0,403447.138,134658.254,2018
184983,5107 NORTH CAPITOL STREET NE,27642806,0,2018-04-11,38.952686,-77.009031,0,0,399243.190,142766.841,2018
184984,1500 ALABAMA AVENUE SE,27679678,0,2018-05-18,38.846336,-76.982255,0,0,401540.449,130948.346,2018
184985,900 H STREET NW,27632576,0,2018-04-01,38.899813,-77.024846,0,0,397844.735,136884.830,2018
184986,5800 16TH STREET NW,27715972,0,2018-06-23,38.960164,-77.036781,0,0,396812.190,143584.581,2018
184987,5358 EAST CAPITOL STREET NE,27715649,0,2018-06-23,38.890316,-76.923379,0,0,406647.288,135833.015,2018
184988,2221 MINNESOTA AVENUE SE,27711670,0,2018-06-19,38.871849,-76.973976,0,0,402258.286,133780.559,2018
184989,400 NEW YORK AVENUE NW,27713629,0,2018-06-21,38.904476,-77.016178,0,0,398596.708,137402.227,2018
184990,3108 SHERMAN AVENUE NW,27713564,0,2018-06-21,38.929032,-77.026559,0,0,397697.120,140128.420,2018
184991,2200 BLADENSBURG ROAD NE,27713988,0,2018-06-21,38.919653,-76.971015,0,0,402513.615,139087.318,2018
184992,603 8TH STREET NE,27710701,0,2018-06-18,38.897631,-76.994564,0,0,400471.594,136642.313,2018
184993,395 SOUTH BOUND,27704561,0,2018-06-12,38.903922,-77.015644,0,0,398643.024,137340.810,2018
184994,400 H STREET NE,27710713,0,2018-06-18,38.900460,-77.000569,0,0,399950.607,136956.277,2018
184995,74 RHODE ISLAND AVENUE NE,27711736,0,2018-06-19,38.918108,-77.006380,0,0,399446.707,138915.436,2018
184996,3739 MINNESOTA AVENUE NE,27711611,0,2018-06-10,38.890962,-76.951730,0,0,404187.677,135903.037,2018
184997,"4321 POLK ,APT#",27713696,0,2018-06-21,38.909617,-76.941266,0,0,405094.116,137974.420,2018
184998,1250 24TH STREET NW,27711728,0,2018-06-19,38.906172,-77.051844,0,0,395503.251,137591.662,2018
184999,5404 COLORADO AVENUE NW,27710897,0,2018-06-18,38.955414,-77.033961,0,0,397056.397,143057.246,2018

In [15]:
#aggregate table of #of minor and major injuries + fatalities
bike_agg = bike_df_reduced.groupby(["YEAR"])[['MINORINJURIES_BICYCLIST','MAJORINJURIES_BICYCLIST','FATAL_BICYCLIST']].sum()
bike_agg

      MINORINJURIES_BICYCLIST  MAJORINJURIES_BICYCLIST  FATAL_BICYCLIST
YEAR
2013                      185                        0                0
2016                      185                        0                0
2017                        0                      185                0
2018                     1665                        0                0

In [16]:
#aggregate table of #of minor and major injuries + fatalities
vehicle_agg = vehicle_df_reduced.groupby(["YEAR"])[['MINORINJURIES_DRIVER','MAJORINJURIES_DRIVER','FATAL_DRIVER']].sum()
vehicle_agg

      MINORINJURIES_DRIVER  MAJORINJURIES_DRIVER  FATAL_DRIVER
YEAR
2011                  1665                  1295             0
2012                  1295                   925             0
2013                  1850                  3330             0
2014                  1295                  1480             0
2015                  2405                     0             0
2016                   370                     0             0
2017                  1480                     0             0
2018                 18500                   925           185

In [17]:
#aggregate table of #of minor and major injuries + fatalities
pedest_agg = pedest_df_reduced.groupby(["YEAR"])[['MINORINJURIES_PEDESTRIAN','MAJORINJURIES_PEDESTRIAN','FATAL_PEDESTRIAN']].sum()
pedest_agg

      MINORINJURIES_PEDESTRIAN  MAJORINJURIES_PEDESTRIAN  FATAL_PEDESTRIAN
YEAR
2014                       185                         0                 0
2015                       185                         0                 0
2017                       185                         0                 0
2018                      4070                       370                 0

In [18]:
#Create bar chart
yearData = {"Year: ["2010","2011","2012","2013","2014","2015","2016","2017","2018"],
           "Total Injuries Pedest":
           }

SyntaxError: invalid syntax (<ipython-input-18-81269fc90fbc>, line 2)